Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
b()
b()
b()
a

6

In both b and c, "a" has been utilised because its initial value is 0. b() utilises c(), which raises the values in a by 2. In this way, 2 is added to the value each time b is called, and also when c is called. As "a" is a global variable, that's why every time when b is called, a's value is updated globally.

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [6]:
def filelength(f):
    try:
        x = open(f, "r")
        contents=x.read()
        print('The file length is : '+str(len(contents)))
        x.close()
    except:
            print('File '+f+' not found')

In [7]:
filelength("filelength.txt")

The file length is : 123

In [8]:
filelength("filelength.py")

File filelength.py not found

Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [15]:
class Marsupial(object):
    def __init__(self):
        self.lst = []
    def put_in_pouch(self, item):
        self.lst.append(item)
    def pouch_contents(self):
        return self.lst

In [16]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [17]:
class Kangaroo(Marsupial):
    def __init__(self,s,t):
        Marsupial.__init__(self)
        self.s = s
        self.t = t
    
    def jump(self,ds,dt): 
        self.s = self.s + ds
        self.t = self.t + dt
        
    def __str__(self):
        return 'I am a kangaroo located at at coordinates ({},{})'.format(self.s,self.t)

In [18]:
k = Kangaroo(0,0)
print(k)

I am a kangaroo located at at coordinates (0,0)

In [21]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [22]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at at coordinates (3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [31]:
def collatz(x):
    if x != 1:
        if x%2!=0:
            print(int(x))
            collatz(3*x+1)
            
        else:
            print(int(x))
            collatz(x/2)
        
    else:
        print(int(x));

In [32]:
collatz(1)

1

In [33]:
collatz(10)

10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [23]:
def binary(n):
    if n>0:
        return (n % 2 + 10*binary(int(n // 2)))
    
    else:
        return 0

In [24]:
binary(0)

0

In [36]:
binary(1)

1

In [25]:
binary(3)

11

In [38]:
binary(9)

1001

In [27]:
binary(21)

10101

Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [40]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.heading =0
        self.int = ""
    def handle_starttag(self, tag, attrs):
        if tag[:-1]=='h':
            self.heading = "type"
    def handle_data(self, data):
        if self.heading =="type":
            print(self.int+ data)
            self.int+= "    "
            self.heading=0

In [41]:
infile = open('w3c.html')
content = infile.read()
infile.close()
heads = HeadingParser()
heads.feed(content)

W3C Mission
    Principles

Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [65]:
import sqlite3
conn = sqlite3.connect('database_db')
a = conn.cursor()
a.execute('SELECT Temperature FROM database_d ')

for info in a:
    print(info)
a.execute('SELECT DISTINCT City FROM database_d ')

for info in a:
    print(info)
a.execute('SELECT * FROM database_d  where Country="India"')

for info in a:
    print(info)
a.execute('SELECT * FROM database_d  where Season="Fall"')

for info in a:
    print(info)
a.execute('SELECT City,Country,Season FROM database_d  where (rainfall>200) AND (rainfall<400)')

for info in a:
    print(info)
a.execute('SELECT City,Country FROM database_d  where (Season ="Fall") AND (temperature>20) ORDER BY Temperature')

for info in a:
    print(info)
a.execute('SELECT SUM(Rainfall) FROM database_d  where City="Cairo"')

Annual_rainfall=a.fetchall()

print(Annual_rainfall)
a.execute('SELECT SUM(Rainfall),Season FROM database_d  GROUP BY Season')

for info in a:
    print(info)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Mumbai',)
('London',)
('Cairo',)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Cairo', 'Egypt')
('Mumbai', 'India')
[(27.6,)]
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [51]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[data.upper() for data in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [52]:
[data.lower() for data in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [53]:
[len(data) for data in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [59]:
[[data.upper(),data.lower(),len(data)] for data in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [16]:
[data for data in words if len(data) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']